<fieldset>
  <legend>Standard</legend>
  <% @d.ds_elements.each do |element| %>
    <p>
      <%= form_element.label element.name %>
      <% if element.ftype == "File" %>
        <% if element.multi_lang %>
          <% @setting.languages.each do |l| %>
            <br/>(<%= t "general_lang_name", :locale => l%>)<br/>
            <%= form_element.file_field "#{element.key}__#{l.gsub(/-/, '_')}" %>
            File Name: <%= @record.send("#{element.key}__#{l.gsub(/-/, '_')}_filename") %>
          <% end %>
        <% else %>
          <br/><%= form_element.file_field "#{element.key}__#{@setting.default_language}" %>
          File Name: <%= @record.send("#{element.key}__#{@setting.default_language}_filename") %>
        <% end %>
      <% elsif element.ftype == "Image" %>
        <% if element.multi_lang %>
          <% @setting.languages.each do |l| %>
            <br/>(<%= t "general_lang_name", :locale => l%>)<br/>
            <%= form_element.file_field "#{element.key}__#{l.gsub(/-/, '_')}" %><br/>
            <%= form_element.hidden_field "#{element.key}__#{l.gsub(/-/, '_')}_cache" %><br/>
            <%= image_tag @record.send("#{element.key}__#{l.gsub(/-/, '_')}").mg_small.url %>                  
          <% end %>
        <% else %>
          <%= form_element.file_field "#{element.key}__#{@setting.default_language}" %><br/>
          <%= form_element.hidden_field "#{element.key}__#{@setting.default_language}_cache" %><br/>
          <%= image_tag @record.send("#{element.key}__#{@setting.default_language}").mg_small.url %>                          
        <% end %>
      <% elsif element.ftype == "Text" %>
        <% if element.multi_lang %>
          <% @setting.languages.each do |l| %>
            <br/>(<%= t "general_lang_name", :locale => l%>)<br/>
            <%= form_element.text_area "#{element.key}__#{l.gsub(/-/, '_')}", :id => "#{element.key}__#{l.gsub(/-/, '_')}" %>
            <script>
              $(function() {
                $('#<%= element.key %>__<%= l.gsub(/-/, '_') %>').tinymce({
                  <%= render :inline => TINYMCE_SETTING %>                
                });
              });
            </script>            
          <% end %>
        <% else %>
          <%= form_element.text_area "#{element.key}__#{@setting.default_language}", :id => "#{element.key}__#{@setting.default_language}" %>
          <script>
            $(function() {
              $('#<%= element.key %>__<%= @setting.default_language %>').tinymce({
                <%= render :inline => TINYMCE_SETTING %>                
              });
            });
          </script>          
        <% end %>
      <% elsif element.ftype == "Boolean" %>
        <%= form_element.check_box "#{element.key}__#{@setting.default_language}" %>
      <% elsif element.ftype == "DateTime" %>
        <%= form_element.text_field "#{element.key}__#{@setting.default_language}", :id => "#{element.key}__#{@setting.default_language}" %>
        <script>
          $(function() {
            $( "#<%= "#{element.key}__#{@setting.default_language}" %>" ).datepicker({ dateFormat: 'yy-mm-dd' });
          });
        </script>
      <% else %>
        <% if element.multi_lang %>
          <% @setting.languages.each do |l| %>
            <br/>(<%= t "general_lang_name", :locale => l%>)<br/>
            <%= form_element.text_field "#{element.key}__#{l.gsub(/-/, '_')}" %>
          <% end %>
        <% else %>
          <%= form_element.text_field "#{element.key}__#{@setting.default_language}" %>
        <% end %>
      <% end %>
    </p>
  <% end %>

</fieldset>

<fieldset>
  <legend>Advanced</legend>
  <%= form_element.fields_for :mg_url, @record.mg_url do |m|%>
  <p>
    <label>Alias</label>
    <%= m.text_field :path %>
  </p>
  <% end %>  
</fieldset>
