<fieldset>
  <legend>Standard</legend>
  <% @d.ds_elements.each do |element| %>
    <p>
      <%= form_element.label element.name %><br/>
      <% if element.ftype == "File" %>
        <% if element.multi_lang %>
          <% @setting.languages.each do |l| %>
            <br/>(<%= t "general_lang_name", :locale => l%>)<br/>
            <%= form_element.file_field "#{element.key}__#{l.gsub(/-/, '_')}" %>
            File Name: <%= @record.send("#{element.key}__#{l.gsub(/-/, '_')}_filename") %>
          <% end %>
        <% else %>
          <br/><%= form_element.file_field "#{element.key}__#{@setting.default_language}" %>
          File Name: <%= @record.send("#{element.key}__#{@setting.default_language}_filename") %>
        <% end %>
      <% elsif element.ftype == "Image" %>
        <% if element.multi_lang %>
          <% @setting.languages.each do |l| %>
            <br/>(<%= t "general_lang_name", :locale => l%>)<br/>
            <%= form_element.file_field "#{element.key}__#{l.gsub(/-/, '_')}" %><br/>
            <%= form_element.hidden_field "#{element.key}__#{l.gsub(/-/, '_')}_cache" %><br/>
            <%= image_tag @record.send("#{element.key}__#{l.gsub(/-/, '_')}").mg_small.url %>                  
          <% end %>
        <% else %>
          <%= form_element.file_field "#{element.key}__#{@setting.default_language}" %><br/>
          <%= form_element.hidden_field "#{element.key}__#{@setting.default_language}_cache" %><br/>
          <%= image_tag @record.send("#{element.key}__#{@setting.default_language}").mg_small.url %>                          
        <% end %>
      <% elsif element.ftype == "Text" %>
        <% if element.multi_lang %>
          <% @setting.languages.each do |l| %>
            <br/>(<%= t "general_lang_name", :locale => l%>)<br/>
            <%= form_element.text_area "#{element.key}__#{l.gsub(/-/, '_')}", :id => "#{element.key}__#{l.gsub(/-/, '_')}" %>
          <% end %>
        <% else %>
          <br/>
          <%= form_element.text_area "#{element.key}__#{@setting.default_language}", :id => "#{element.key}__#{@setting.default_language}" %>
        <% end %>
      <% elsif element.ftype == "RichText" %>
        <% if element.multi_lang %>
          <% @setting.languages.each do |l| %>
            <br/>(<%= t "general_lang_name", :locale => l%>)<br/>
            <div class="editorcontainer">
              <%= form_element.text_area "#{element.key}__#{l.gsub(/-/, '_')}", :id => "#{element.key}__#{l.gsub(/-/, '_')}" %>
            </div>
            <script>
              $(function() {
                $('#<%= element.key %>__<%= l.gsub(/-/, '_') %>').tinymce({
                  <%= render :inline => TINYMCE_SETTING %>                
                });
              });
            </script>            
          <% end %>
        <% else %>
          <div class="editorcontainer">
            <%= form_element.text_area "#{element.key}__#{@setting.default_language}", :id => "#{element.key}__#{@setting.default_language}" %>
          </div>
          <script>
            $(function() {
              $('#<%= element.key %>__<%= @setting.default_language %>').tinymce({
                <%= render :inline => TINYMCE_SETTING %>                
              });
            });
          </script>          
        <% end %>
      <% elsif element.ftype == "Boolean" %>
        <%= form_element.check_box "#{element.key}__#{@setting.default_language}" %>
      <% elsif element.ftype == "DateTime" %>
        <%= form_element.text_field "#{element.key}__#{@setting.default_language}", :id => "#{element.key}__#{@setting.default_language}" %>
        <script>
          $(function() {
            $( "#<%= "#{element.key}__#{@setting.default_language}" %>" ).datepicker({ dateFormat: 'yy-mm-dd' });
          });
        </script>
      <% elsif element.ftype == "Relation" %>
        <% relation_ds = D.where(:key => element.relation_ds).first%>
        <% if element.relation_type == "has_one" %>
          <%= form_element.select "#{element.key}", 
            options_from_collection_for_select(relation_ds.get_klass.all, :id, :"#{element.relation_disp_field}", @record.send(element.key).nil? ? nil : @record.send(element.key).id ), :prompt => true%>

          <%= link_to "Create", "/ds_#{relation_ds.ds_type.downcase.pluralize}/new?d=#{relation_ds.id}", :remote => true, :id => element.id %>
          <script>
            $(function(){
              
              //open the dialog before sending the request
              $('#<%= element.id%>').bind("ajax:beforeSend", function(evt, xhr, settings){
                $('#new_record_dialog').dialog({width: '90%', height: '450', modal: true, autoOpen: false});
                $('#new_record_dialog').dialog('open');
              });
              //get the response and fill in the dialog
              $('#<%= element.id%>').bind("ajax:success", function(evt, data, status, xhr){
                $('#new_record_dialog').html(data);
                //refresh the option select for updated value
                $('#new_record_dialog').unbind("dialogclose");
                $('#new_record_dialog').bind("dialogclose", function(event, ui){
                  $.ajax({
                    url: '/ds/<%= relation_ds.id%>/get_options_for_select',
                    data: 'disp_field=<%=element.relation_disp_field%>&current_r_id=<%= @record.send(element.key).nil? ? nil : @record.send(element.key).id %>',
                    success: function(data){
                      $('#record_<%= element.key %>').html(data);
                    }
                  });
                });

              });
            });
          </script>

        <% elsif element.relation_type == "belongs_to" %>
          <%= form_element.collection_select "#{element.key}_id", relation_ds.get_klass.all, :id, :"#{element.relation_disp_field}", :prompt => true %>
        <% elsif element.relation_type == "has_many" || element.relation_type == "has_and_belongs_to_many" %>
          
          <% if @record.send(element.key)%>
            <% @record.send(element.key).each do |rel| %>
              <div id="<%= rel.id %>">
                <%= rel.send("#{element.relation_disp_field}__#{@setting.default_language}") %>
                <input type="hidden" id="record_<%= element.key%>[]" name="record[<%= element.key%>][]" value="<%= rel.id %>"></input>
                <%= link_to_function "Remove", "$('##{rel.id}').remove()"%>
              </div>
            <% end %>
          <% end %>

          <%= link_to "Add", "/ds_#{relation_ds.ds_type.downcase.pluralize}?d=#{relation_ds.id}&disp_field=#{element.relation_disp_field}", :remote => true, :id => "add_#{element.id}"%>
          <script>
            $(function(){
              
              //open the dialog before sending the request
              $('#add_<%= element.id%>').bind("ajax:beforeSend", function(evt, xhr, settings){
                $('#add_record_dialog').dialog({width: '90%', height: '450', modal: true, autoOpen: false,
                  buttons:{
                    "OK": function(){
  
                      $( ".ui-selected", this ).each(function() {
                        $('#add_<%= element.id %>').before(
                          '<div id=' + this.id + '>' + this.textContent + 
                          '<input type="hidden" id="record_<%= element.key %>[]" name="record[<%= element.key %>][]" value=' + this.id + '></input>' +
                          '<a onclick="$(\'#'+this.id +'\').remove(); return false;" href="#">Remove</a>' + '</div>'
                        );
                      });
                      $(this).dialog("destroy");
                    },
                    Cancel: function(){
                      $(this).dialog("destroy");
                    }
                  }
                });
                $('#add_record_dialog').dialog('open');
              });
              //get the response and fill in the dialog
              $('#add_<%= element.id%>').bind("ajax:success", function(evt, data, status, xhr){
                $('#add_record_dialog').html(data);
              });
            });

          </script>


          <%= link_to "Create", "/ds_#{relation_ds.ds_type.downcase.pluralize}/new?d=#{relation_ds.id}", :remote => true, :id => element.id %>
          <script>
            $(function(){ 
              
              //open the dialog before sending the request
              $('#<%= element.id%>').bind("ajax:beforeSend", function(evt, xhr, settings){
                $('#new_record_dialog').dialog({width: '90%', height: '450', modal: true, autoOpen: false});
                $('#new_record_dialog').dialog('open');
              });
              //get the response and fill in the dialog
              $('#<%= element.id%>').bind("ajax:success", function(evt, data, status, xhr){
                $('#new_record_dialog').html(data);
              });
            });
          </script>
        <% end %>

      <% else %>
        <% if element.multi_lang %>
          <% @setting.languages.each do |l| %>
            <br/>(<%= t "general_lang_name", :locale => l%>)<br/>
            <%= form_element.text_field "#{element.key}__#{l.gsub(/-/, '_')}" %>
          <% end %>
        <% else %>
          <%= form_element.text_field "#{element.key}__#{@setting.default_language}" %>
        <% end %>
      <% end %>
    </p>
  <% end %>

</fieldset>

<fieldset>
  <legend>Advanced</legend>
  <%= form_element.fields_for :mg_url, @record.mg_url do |m|%>
  <p>
    <label>Alias</label>
    <%= m.text_field :path %>
  </p>
  <% end %>  
</fieldset>

<div id="new_record_dialog"></div>
<div id="add_record_dialog" title="Choose related records, you can use 'Control(Command)' to select multiple"></div>
