<h2>Edit the datasource record</h2>

<script>
  $(function() {
    $( "#show_record" ).button({
      text: true,
      icons: {
        primary: "ui-icon-search"
      }
    });
    $( "#back" ).button({
      text: true,
      icons: {
        primary: "ui-icon-arrowreturnthick-1-w"
      }
    });
    $( "#record_submit" ).button({
      text: true,
      icons: {
        primary: "ui-icon-disk"
      }
    });
    
  });
</script>

<span id="toolbar" class="ui-widget-header ui-corner-all">
  <%= link_to "Show", ds_list_path(@record, :d => @d.id ), :id => "show_record" %>
  <%= link_to "Back", ds_lists_path(:d => @d.id), :id => "back" %>
</span>

<%= form_for(:record, :url => ds_list_path(@record, :d => @d.id), :html => {:method => :put, :multipart => true}) do |f| %>
<% if @record.errors.any? %>
<div id="error_explanation" class="error">
  <h2><%= pluralize(@record.errors.count, "error") %> prohibited this d from being saved:</h2>
  <ul>
    <% @record.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>


<%= render :partial => "form_element", :object => f %>


<div class="actions">
  <%= f.submit %>
</div>

<% end %>
