<h2>Manage <%= @d.name %> Records</h2>
<%# columns = [{:type => 'html', :class => "first"}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'},{:type => 'html'},{:type => 'html'},{:type => 'html'},{:type => 'html'},{:type => nil, :class => "last"}] %>
<script>
  $(function() {
    $( "#new_record" ).button({
      text: true,
      icons: {
        primary: "ui-icon-circle-plus"
      }
    });
    
  });
</script>
<span id="toolbar" class="ui-widget-header ui-corner-all">
  <%= link_to "Add Record", new_ds_list_path(:d => @d.id), :id => "new_record"%>
</span>


<%= render :inline => datatable(nil, {:ajax_source => "#{datatable_ds_lists_path(:d => @d.id)}"}) %>

<table id="<%= @d.id %>" class="datatable">
  <thead>
  <tr>
    <% @d.ds_elements.each do |ds_element|%>
    <th><%= ds_element.name %></th>
    <% end %>
    <th>Alias</th>
    <th>Position</th>
    <th style="width:5%;">Move</th>
    <th style="width:5%;">Op.</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>

<%#= will_paginate @records, :renderer => WillPaginate::ViewHelpers::LinkRenderer, :class => "right" %>

