<h2>New <%= @d.name %></h2>

<%= form_for(:record, :url => ds_trees_path( :d => @d.id), :html => {:method => :post}) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation" class="error">
      <h4><%= pluralize(@record.errors.count, "error") %> prohibited this tab from being saved:</h4>
      <ul>
        <% @record.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>
      System
    </legend>
    <p>
      <%= f.label :mg_name %>
      <%= f.text_field :mg_name %>
    </p>
    <p>
      <%= f.label :parent %>
      <%= f.collection_select "parent_id", @d.get_klass.all - [@record], :id, :mg_name, :prompt => true %>
    </p>
  </fieldset>
  
  <%= render :partial => 'ds_lists/form_element', :object => f%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', ds_trees_path(:d => @d.id) %>