<h2>Show the datasource record</h2>

<script>
  $(function() {
    $( "#edit_record" ).button({
      text: true,
      icons: {
        primary: "ui-icon-pencil"
      }
    });
    $( "#back" ).button({
      text: true,
      icons: {
        primary: "ui-icon-arrowreturnthick-1-w"
      }
    });
    
  });
</script>
<span id="toolbar" class="ui-widget-header ui-corner-all">
  <%= link_to "Edit", edit_ds_standard_path(@record, :d => @d.id ), :id => "edit_record" %>
  <%= link_to "Back", ds_standards_path(:d => @d.id), :id => "back" %>
</span>


<% @d.ds_elements.each do |element| %>
<p>
  <%= label_tag element.name %><br/>
  <% if element.ftype == "File" %>
  	<%= link_to "Download", @record.send(element.key).url %>
  <% elsif element.ftype == "Image"%>
  	<%= image_tag @record.send(element.key).url %>
  <% elsif element.ftype == "Text" %>
    <%= render :inline => @record.send(element.key) %>
  <% elsif element.ftype == "DateTime" %>
    <%= @record.send(element.key).strftime(@setting.date_format) if @record.send(element.key)%>
  <% else %>
  	<%= @record.send(element.key) %>
  <% end %>
</p>
<% end %>
