<h2>Edit the datasource record</h2>

<%= form_for(:record, :url => update_record_d_path(@d, :rec_id => @record.id), :html => {:method => :put, :multipart => true}) do |f| %>
<% if @record.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@record.errors.count, "error") %> prohibited this d from being saved:</h2>
  <ul>
    <% @record.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>


<%= render :partial => "form_record_element", :object => f %>


<div class="actions">
  <%= f.submit %>
</div>

<% end %>
