<h4><%= t ".title_list_ds"%></h4>

<%= render :inline => datatable(nil, {:ajax_source => "#{datatable_ds_path}"}) %>

<table id="datasource" class="datatable">
  <thead>
    <tr>
    	<th><%= t ".ds_key" %></th>
    	<th><%= t ".ds_name" %></th>
      <th><%= t ".ds_type" %></th>
      <th><%= t ".ds_view_type" %></th>
      <th><%= t ".ds_log_time" %></th>
      <th><%= t ".ds_field_count" %></th>
      <th><%= t ".ds_operation" %></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<br />

<%= link_to (t ".new_ds"), new_d_path %>
