<h1>Listing DataSource</h1>

<table>
  <tr>
  	<th>Key(Unique)</th>
  	<th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ds.each do |d| %>
  <tr>
  	<td><%= d.key %></td>
  	<td><%= d.name %></td>
    <td><%= link_to 'Show', d %></td>
    <td><%= link_to 'Edit', edit_d_path(d) %></td>
    <td><%= link_to 'Manage', manage_d_path(d) %></td>
    <td><%= link_to 'Destroy', d, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New DataSource', new_d_path %>
