<h2>Show the datasource record</h2>

<% @d.ds_elements.each do |element| %>
<p>
  <%= label_tag element.name %><br/>
  <% if element.ftype == "File" %>
  	<%= link_to "Download", @record.send(element.key).url %>
  <% elsif element.ftype == "Image"%>
  	<%= image_tag @record.send(element.key).url %>
  <% elsif element.ftype == "Text" %>
    <%= render :inline => @record.send(element.key) %>
  <% elsif element.ftype == "DateTime" %>
    <%= @record.send(element.key).strftime(@setting.date_format) if @record.send(element.key)%>
  <% else %>
  	<%= @record.send(element.key) %>
  <% end %>
</p>
<% end %>

<%= link_to "Edit", edit_record_d_path(@d, :rec_id => @record.id ) %> |
<%= link_to "Back", manage_d_path(@d) %>
