<% @d.ds_elements.each do |element| %>
<p>
  <%= label_tag element.name %><br/>
  <% if element.type == "File" %>
  	<%= link_to "Download", @record.send(element.key).url %>
  <% elsif element.type == "Image"%>
  	<%= image_tag @record.send(element.key).url %>
  <% elsif element.type == "Text" %>
    <%= render :inline => @record.send(element.key) %>
  <% else %>
  	<%= @record.send(element.key) %>
  <% end %>
</p>
<% end %>

<%= link_to "Edit", edit_record_d_path(@d, :rec_id => @record.id ) %> |
<%= link_to "Back", manage_d_path(@d) %>
