<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation" class="error">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
        <% @page.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <legend>
      Main
    </legend>
    <%= f.fields_for :mg_url, @page.mg_url do |m|%>
      <p>
        <label>Alias</label>
        <%= m.text_field :path %>
      </p>
    <% end %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>  
    <p>
      <%= f.label :parent %>
      <%= collection_select :page, "parent_id", Page.all - [@page], :id, :name, :prompt => true %>
    </p>    
    <p>
      <%= f.label :theme_path %>
      <%= f.collection_select :theme_path, Dir.glob(File.join(theme_path, "theme", "*.html")).map{|tf| File.basename(tf,".html")}, :to_s, :to_s %>
    </p>
    <p>
      <%= f.label :per_page %>
      <%= f.text_field :per_page %>
    </p>
  </fieldset>

  <fieldset>
    <legend>
      Datasource
    </legend>
    <p>
      <% D.all.each do |ds| %>
      <%
        has_ds = false
        r_page_d = nil
        unless @page.r_page_ds.nil? || @page.r_page_ds.size == 0
          @page.r_page_ds.each do |r|
            if r.d && r.d.id == ds.id
              has_ds = true
              r_page_d = r
              break
            end
          end
        end
      %>
        <%= "#{ds.name}(#{ds.key})" %>:
        <%= check_box_tag "page[r_page_ds][][d_id]","",has_ds,{:type=>"hidden"}%> 
        <%= check_box_tag "page[r_page_ds][][d_id]",ds.id,has_ds,{}%> |
        Rename(Optional) <%= text_field_tag "page[r_page_ds][][new_d_name]", r_page_d.nil? ? "": r_page_d.new_d_name %><br/>
        Limit: <%= text_field_tag "page[r_page_ds][][query_hash][limit]", r_page_d.nil? ? "100" : r_page_d.query_hash["limit"] %> |
        Ascending:<%= text_field_tag "page[r_page_ds][][query_hash][ascending]", r_page_d.nil? ? "" : r_page_d.query_hash["ascending"] %> | 
        Descending: <%= text_field_tag "page[r_page_ds][][query_hash][descending]", r_page_d.nil? ? "" : r_page_d.query_hash["descending"] %> |
        Excludes: <%= text_field_tag "page[r_page_ds][][query_hash][excludes]", r_page_d.nil? ? "" : r_page_d.query_hash["excludes"] %>
      <br/>
      <hr/>
      <% end %>
    </p>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
