<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation" class="error">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
        <% @page.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <legend>
      Main
    </legend>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>  
    <p>
      <%= f.label :slug %>
      <%= f.text_field :slug %>
    </p>
    <p>
      <%= f.label :theme_path %>
      <%= f.collection_select :theme_path, Dir.glob(File.join(theme_path, "theme", "*.html")).map{|tf| File.basename(tf)}, :to_s, :to_s %>
    </p>
  </fieldset>
  <fieldset>
    <legend>
      Display
    </legend>
    <p>
      Javascript paths:
      <br/>
      <% Dir.glob(File.join(theme_path, "javascripts", "*.js")).each do |js_file_str|
      base_name = File.basename(js_file_str, ".js") %>
      <% if base_name != 'global' %>
      <%= fields_for "page[js_paths]" do |form| %>
      <%= base_name %>:<%= form.check_box nil,{:checked => @page.js_paths.nil? ? false : @page.js_paths.include?(base_name)}, base_name, "" %>
      <br/>
      <% end %>
      <% end %>
      <% end %>
    </p>
  
    <p>
      CSS paths:
      <br/>
      <% Dir.glob(File.join(theme_path, "stylesheets", "*.css")).each do |css_file_str|
      base_name = File.basename(css_file_str, ".css") %>
      <% if base_name != 'global' %>
      <%= fields_for "page[css_paths]" do |form| %>
      <%= base_name %>:<%= form.check_box nil,{:checked => @page.css_paths.nil? ? false : @page.css_paths.include?(base_name)}, base_name, "" %>
      <br/>
      <% end %>
      <% end %>
      <% end %>
    </p>
  </fieldset>
  <fieldset>
    <legend>
      Datasource
    </legend>
    <p>
      <% D.all.each do |ds| %>
      <%
        has_ds = false
        r_page_d = nil
        unless @page.r_page_ds.nil? || @page.r_page_ds.size == 0
          @page.r_page_ds.each do |r|
            if r.d.id == ds.id
              has_ds = true
              r_page_d = r
              break
            end
          end
        end
      %>
        <%= "#{ds.name}(#{ds.key})" %>:
        <%= check_box_tag "page[r_page_ds][][d_id]","",has_ds,{:type=>"hidden"}%> 
        <%= check_box_tag "page[r_page_ds][][d_id]",ds.id,has_ds,{}%> |
        Limit: <%= text_field_tag "page[r_page_ds][][query_hash][limit]", r_page_d.nil? ? "100" : r_page_d.query_hash["limit"] %> |
        Ascending:<%= text_field_tag "page[r_page_ds][][query_hash][ascending]", r_page_d.nil? ? "" : r_page_d.query_hash["ascending"] %> | 
        Descending: <%= text_field_tag "page[r_page_ds][][query_hash][descending]", r_page_d.nil? ? "" : r_page_d.query_hash["descending"] %> |
        Where: <%= text_field_tag "page[r_page_ds][][query_hash][where]", r_page_d.nil? ? "" : r_page_d.query_hash["where"] %> |
        Excludes: <%= text_field_tag "page[r_page_ds][][query_hash][excludes]", r_page_d.nil? ? "" : r_page_d.query_hash["excludes"] %>
      <br/>
      <% end %>
    </p>
  </fieldset>
  <fieldset>
    <legend>Add on code</legend>
    <p>
      <%= f.label :head_yield %><br/>
      <%= f.text_area :head_yield %>
    </p>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
