<h2>Editing tab</h2>

<%= form_for(:tab, :url => tab_path(@tab, :d => @d.id), :html => {:method => :put}) do |f| %>
  <% if @tab.errors.any? %>
    <div id="error_explanation" class="error">
      <h2><%= pluralize(@tab.errors.count, "error") %> prohibited this tab from being saved:</h2>
      <ul>
        <% @tab.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <legend>
      Main
    </legend>
    <p>
      <%= f.label :slug %>
      <%= f.text_field :slug%>
    </p>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
  </fieldset>
  <fieldset>
    <legend>
      Attributes
    </legend>
    <p>
      <%= f.label :page %>
      <%= collection_select :tab, "page_id", Page.all, :id, :title, :prompt => true %>
    </p>
    <p>
      <%= f.label :parent %>
      <%= collection_select :tab, "parent_id", @d.get_klass.all - [@tab], :id, :name, :prompt => true %>
    </p>
  </fieldset>

  <%= render :partial => 'customs/form_element', :object => f%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @tab %> |
<%= link_to 'Back', tabs_path(:d => @d.id) %>
