<div id="settings" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
      <a title="General" href="/manage/setting">General</a>
    </li>
    <li class="ui-state-default ui-corner-top">
      <a title="Image Style" href="<%= image_styles_path %>">Image Style</a>
    </li>
    <li class="ui-state-default ui-corner-top">
      <a title="General" href="/manage/languages">Languages</a>
    </li>      
  </ul>
</div>

<%= form_for(@setting, :url => "/manage/update") do |f| %>
<fieldset>
  <legend>
    Application
  </legend>
  <p>
    <%= f.label :application_title %>
    <%= f.text_field :application_title %>
  </p>
  <p>
    <%= f.label :current_theme %>
    <% list_themes = Dir.entries(File.join(Rails.root, "themes")) - [".", "..", ".DS_Store"]%>
    <%= f.collection_select :current_theme,list_themes, :to_s, :to_s %>
    <%= link_to "(Re)Generate Default Theme", mthemes_path(:id => "default"), :method => :post,
    :confirm => "Are you sure? All the templates in the default theme will be removed!!" %>
    <% if list_themes.size > 0 %>
      <%= link_to "Sync and Cache the theme", sync_mtheme_path(:id => "default"), :method => :post %>
    <% end %><br/>
    <% if File.exist?(File.join(@setting.repo_path, @setting.id.to_s, @setting.current_theme)) %>
      You can use the following svn url to check out the theme code:<br/>
      <fieldset>
      <b>svn co svn+ssh://www@<%= @setting.host_name%><%= File.join(@setting.repo_path, @setting.id.to_s, @setting.current_theme) %></b>
      </fieldset>
    <% end %>
  </p>
  <p>
    <%= f.label :host_name %>
    <%= f.text_field :host_name %>
  </p>
  <p>
    <%= f.label :ruby_bin_path %>
    <%= f.text_field :ruby_bin_path %>
  </p>
  <p>
    <%= f.label :gem_bin_path %>
    <%= f.text_field :gem_bin_path %>
  </p>
  <p>
    <%= f.label :repo_path %>
    <%= f.text_field :repo_path %>
  </p>
  <p>
    <%= f.label :repo_user %>
    <%= f.text_field :repo_user %>
  </p>
  <p>
    <%= f.label :repo_group %>
    <%= f.text_field :repo_group %>
  </p>

  <!-- <p>
    <%= f.label :attachment_max_size %>
    <%= f.text_field :attachment_max_size %>
  </p> -->
</fieldset>
<fieldset>
  <legend>
    Format
  </legend>
  <p>
    <%= f.label :date_format %>
    <%= f.collection_select :date_format, DATE_FORMATS.collect {|df| [Date.today.strftime(df), df]}, :last, :first %>
  </p>
  <p>
    <%= f.label :time_format %>
    <%= f.collection_select :time_format, TIME_FORMATS.collect {|tf| [Time.now.strftime(tf), tf]}, :last, :first %>
  </p>
</fieldset>
<div class="actions">
  <%= f.submit %> | <%= link_to "Reset all to default", "/manage/reset", :method => :post, :confirm => "Are you sure? All the config will be removed and reset!" %>
</div>
<% end %>

<div class="success">
  <%= notice %>
</div>
