<!DOCTYPE html>
<html>
  <head>
    <title><%= @setting.application_title if @setting %></title>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <%= stylesheet_link_tag "datatable_basic.css" %>
    <%= stylesheet_link_tag "flick/jquery-ui.css" %>
    <%= javascript_include_tag "jquery.min.js" %>
    <%= javascript_include_tag "jquery-ui.min.js" %>
    <%= javascript_include_tag "rails.js" %>
    <%= javascript_include_tag "application.js" %>
    <%= javascript_include_tag "jquery.dataTables.min.js" %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
      $(function(){
        $( "#userview" ).button();
      });
    </script>
    
  </head>
  <body>
    <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
      <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top">
          <a title="Datasource" href="<%= ds_path %>">Datasource</a>
        </li>
        <!-- <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
          <a title="Tabs" href="<%= ds_tabs_path %>">Tabs</a>
        </li> -->
        <li class="ui-state-default ui-corner-top">
          <a title="Pages" href="<%= pages_path %>">Pages</a>
        </li>
        <% D.tree.each do |d|%>
          <li class="ui-state-default ui-corner-top">
            <a title="<%= d.key %>" href="<%= ds_trees_path(:d => d.id) %>"><%= d.name %></a>
          </li>
        <% end %>
        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
          <%= link_to "Alias", mg_urls_path %>
        </li>
        <li class="ui-state-default ui-corner-top">
          <a title="Setting" href="/manage/setting">Setting</a>
        </li>
        <a class="right" id="userview" href="/manage">User View</a>
      </ul>
      
      <%= yield %>
    </div>
  </body>
</html>
